<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Webhooks" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Webhooks</h1>
    <%= link_to "New webhook", new_callme_webhook_path, class: "btn btn-primary" %>
  </div>
  <div id="callme_webhooks" class="min-w-full space-y-6 py-6">
    <% @callme_webhooks.each do |callme_webhook| %>
      <%= render callme_webhook %>
      <p>
        <%= link_to "Show this webhook", callme_webhook, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
