<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New webhook</h1>
  <%= render "form", callme_webhook: @callme_webhook %>
  <%= link_to "Back to webhooks", callme_webhooks_path, class: "btn" %>
</div>
